.about {
    background-image: url("../../assets/about.png");
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-box {
    background-color: var(--dark-white);
    width: 300px;
    padding: 63px 37px;
    text-align:justify ;
}

.about-title, .about-text{
    color: var(--dark-gray);
}

.about-title {
    padding-bottom: 30px;
}


@media screen and (min-width: 40rem) {
    .about {
        align-items: flex-end;
    }
    
    .about-box {
        margin-right: 10rem;
    }
}
