.home {
    background-image:url("../../assets/home.png");
    background-size: cover;
    height: 90vh;
    background-attachment: scroll;
    display: flex;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-right: 50px;
    padding-left: 50px;
}

.title, .text {
    color: var(--white);
    text-align: center;
    padding-bottom: 3rem;
}

.title {
    padding-bottom: 15px;
}

.btn {
    margin-top: 40px;
    background-color: var(--light-green);
    color: var(--black);
    border-radius: 7px;
    width: 243px;
    height: 58px;
    font-weight: 700;
    font-size: 16px;
}

@media screen and (min-width: 40rem) {
    .cta {
        padding-left: 36px;
        padding-left: 5rem;
    }
}