header {
    background-color: #F6F6F6;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    justify-content: space-between;
}

img {
    width: 180px;
    height: 36.201px;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}