@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Configurando as cores como variaveis */
:root {
  --green: #00BF63;
  --light-green: #4BFEA8;
  --dark-green: #00743C;
  --dark-gray: #2B2B2B;
  --gray: #555555;
  --light-gray: #939393;
  --dark-white: #D5D5D5;
  --white: #F6F6F6;
  --black: #000000;
}

* {
  font-family: 'Poppins', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

